body {
  margin: 0;
  font-family: 'SF Pro Display Regular' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'SF Pro Display Regular' !important;
}

button:focus {
  outline: none !important;
}